<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Barber Details</title>
    <link rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/core.css}" type="text/css"/>
    <base href="/">
</head>
<body>
<div th:replace="common/header::navbar"></div>
<div class="container">
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>
    <h1>Details for barber: <span th:text="${barber.title}"/></h1>
    <table>
        <thead>
        <tr>
            <th>Requests</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${requests}">
            <td><span th:text="${request.name}"> Author </span></td>
        </tr>
        <tr>
            <form th:action="@{/createTag}" th:object="${newMapping}" method="POST">
                <td><input type="text" th:field="*{requestName}"/></td>
                <td><input type="submit" value="Create"/></td>
                <input type="hidden" th:field="*{barber}">
            </form>
        </tr>
        <tr>
            <form th:action="@{/removeTag}" th:object="${newMapping}" method="POST">
                <td><input type="text" th:field="*{requestName}"/></td>
                <td><input type="submit" value="Delete"/></td>
                <input type="hidden" th:field="*{barber}">
            </form>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{common/footer::footer}"></footer>
</body>
</html>