<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"
          media="screen" th:href="@{css/bootstrap.min.css}" type="text/css"/>
    <link href="../../static/css/core.css" rel="stylesheet" media="screen"
          th:href="@{css/core.css}" type="text/css"/>
    <title>Admin Page</title>
</head>
<body>
<div th:replace="common/header::navbar"></div>
<div class="container">
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>
    <h1>Here is a list of barbers:</h1>
    <table>
        <thead>
        <tr>
            <th> Id</th>
            <th> Title</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${barbers.empty}">
            <td colspan="2"> No Barbers Available.</td>
        </tr>
        <tr th:each="barberDTO : ${barbers}">
            <td><span th:text="${barberDTO.id}"> Title </span></td>
            <td><span th:text="${barberDTO.title}"> Author </span></td>
            <td><a th:href="@{'/details/' + ${barberDTO.id}}">See Details</a></td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{common/footer::footer}"></footer>
</body>
</html>