<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-body">
                <img th:src="@{/images/barber.jpg}" class="img-responsive center-block" width="400" height="400"
                     alt="TUCN"/>
            </div>
        </div>
    </div>

    <h1>Choose your barber:</h1>
    <table>
        <thead>
        <tr>
            <th> Id</th>
            <th> Title</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${barbers.empty}">
            <td colspan="2"> No Barbers Available.</td>
        </tr>
        <tr th:each="barberDTO : ${barbers}">
            <td><span th:text="${barberDTO.id}"> Title </span></td>
            <td><span th:text="${barberDTO.title}"> Author </span></td>
            <td><a th:href="@{'//' + ${barberDTO.id}}">Make Appointment</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>