<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="titleAndImports">
<link href="../../static/css/bootstrap.min.css" rel="stylesheet"
	  media="screen" th:href="@{css/bootstrap.min.css}" type="text/css"/>
<link href="../../static/css/core.css" rel="stylesheet" media="screen"
	  th:href="@{css/core.css}" type="text/css"/>
<title>Software Design</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top"
		th:fragment="navbar">
		<div class="container">
			<div class="navbar-header">
			</div>
		</div>
	</nav>
</body>
</html>